{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HTML tutorial</title>
    </head>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fexplore%2Froyalty-free-images&psig=AOvVaw1vnwhHZTB04-j4bW4T2yyB&ust=1646729075985000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMDZk6HOs_YCFQAAAAAdAAAAABAD" alt="flowers in Kenya" usemap="#baptize">
    <map name="baptize">
        <area onclick="myFunction">
    </map>
    <script>
    function myFunction() {
        alert("You clicked me John")
    }
    </script>
        <a href="#c4"> Jump to This is a heading</a>
    <body style="background-image: url('https://i.pinimg.com/originals/0b/df/db/0bdfdb467f996bbbed1e5f1baa3740e2.gif');" background-repeat="no-repeat";>
        <h1 style="background-color:blue">This is heading 1</h1>   
        <h2>This is heading 2</h2>
        <h6>This is heading 6</h6>
        <p>This is a paragraph</p>
        <p>This is another paragraph</p>
        <a href="http://en.wikipedia.org/wiki/">Wikipedia</a>
        <p>This is a <br> paragraph with a line break</p>
        <p style="color:red;">This is a red paragraph.</p>
        <h6 syle="font-size:600px;">Heading 6 with font 600</h6>
        <h1 syle="font-size:600px;">Heading 1 with font 600</h1>
        <h1 syle="font-size:100px;">Heading 1 with font 100</h1>
        <hr>
        <p title="About W3Schools">W3Schools is a web developer's site.</p>
        <p>In html, 
            spaces 
            are ignored.</p>
        <pre>You can use preformatted texts
            In
            HTML
        </pre>

    <p>I am normal</p>
    <p style="color:red;">I am red</p>
    <p style="color:blue;">I am blue</p>
    <p style="font-size:50px;">I am big</p>

    </body>
    <h1 id = "c4" style="background-color:blue">This is a heading</h1>   
    <p style="background-color:tomato;">This is a paragraph.</p>
    <p style="color:black;">This is a black paragraph.</p>
    <p style="font-family:courier;">This is a paragraph.</p>
    <p style="font-size:160%;">This is a paragraph.</p>
    <h1 style="text-align:center;">Centered Heading</h1>
    <p style="text-align:center;">Centered paragraph.</p>

    <p><b>This text is bold</b></p>
    <p><i>This te~xt is italic</i></p>
    <p>This is<sub> subscript</sub> and <sup>superscript</sup></p>
    <strong>This text is important!</strong>
    <i>This text is italic</i>
    <em>This text is emphasized</em>
    <small>This is some smaller text.</small>
    <p>Do not forget to buy <mark>milk</mark> today.</p>
    <p>My favorite color is <del>blue</del> red.</p>
    <p>My favorite color is <del>blue</del> <ins>red</ins>.</p>
    <p>This is <sub>subscripted</sub> text.</p>
    <p>This is <sup>superscripted</sup> text.</p>
    <p>Here is a quote from WWF's website:</p>
    <blockquote cite="http://www.worldwildlife.org/who/index.html">
    For 50 years, WWF has been protecting the future of nature.
    The world's leading conservation organization,
    WWF works in 100 countries and is supported by
    1.2 million members in the United States and
    close to 5 million globally.
    </blockquote>
    <p>Here is anothor quote</p>
    <blockquote cite="https://www.solomon.com">
        I will delight in singing in God overjoys my heart 
    </blockquote>
    <p>This is a <b>bold</b> and an <i>italic </i> paragraph</p>
    <p>This is a <sub>subscript</sub>
         <br> This is a <sup>superscript </sup>
         <br>This is a <del> deletion</del>
         <br>This is an <ins>insertion</ins>
         <br>This is <strong>important</strong>
         <br>This is <em>emphasized</em> text
         <br>This is a <mark>marked or highlighted</mark>text
         <br>This is a <small> small</small>
    </p>
    <p style="background-color: purple">This paragraph is highlighted with a purple color</p>
    <p style="font-color: orange">This is an orange paragraph</p>
</html>

{% endblock content%}